<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="mb-0">Top Tax Payers</h3>
                    </div>
                    <div class="col text-right">
                        <a href="#!" class="btn btn-sm btn-primary">See all</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Tax Amount</th>
{#                        <th scope="col">Bounce rate</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">
                            Awiskar Solutions
                        </th>
                        <td>
                            PVT LTD
                        </td>
                        <td>
                            52343.23
                        </td>
{#                        <td>#}
{#                            <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%#}
{#                        </td>#}
                    </tr>
                    <tr>
                        <th scope="row">
                            Dev Async
                        </th>
                        <td>
                            PVT LTD
                        </td>
                        <td>
                            46565
                        </td>
{#                        <td>#}
{#                            <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%#}
{#                        </td>#}
                    </tr>
                    <tr>
                        <th scope="row">
                            Cotiviti
                        </th>
                        <td>
                            Domestic
                        </td>
                        <td>
                            35455
                        </td>
{#                        <td>#}
{#                            <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%#}
{#                        </td>#}
                    </tr>
                    <tr>
                        <th scope="row">
                            Bhat Bhateni
                        </th>
                        <td>
                            PVT LTD
                        </td>
                        <td>
                            35454
                        </td>
{#                        <td>#}
{#                            <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%#}
{#                        </td>#}
                    </tr>
                    <tr>
                        <th scope="row">
                            Kritya
                        </th>
                        <td>
                            Domestic
                        </td>
                        <td>
                            13232
                        </td>
{#                        <td>#}
{#                            <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%#}
{#                        </td>#}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>