{% load static %}
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand m-0" href="/">
        <img src="{% static 'assets/img/logo/nepal-logo.png' %}"
             class="navbar-brand-img h-100"
             style="max-height: 4rem;"
             alt="Tax Logo">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'business' in segment %} active {% endif %}" href="{% url 'business-add' %}">
              <i class="ni ni-briefcase-24 text-orange"></i>
              <span class="nav-link-text">Business Form</span>
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link {% if 'business' in segment %} active {% endif %}" href="/business.html">
              <i class="ni ni-briefcase-24 text-orange"></i>
              <span class="nav-link-text">Business</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}">
              <i class="ni ni-circle-08 text-green"></i>
              <span class="nav-link-text">Business Owners</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'map' in segment %} active {% endif %}" href="/map.html">
              <i class="ni ni-pin-3 text-primary"></i>
              <span class="nav-link-text">Map</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>            
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
      </div>
    </div>
  </div>
</nav>